- build_meta_tags title: @user.name

%h1
  = @user.name
%p.user-links
  - @user.links.each do |link|
    = link_to link.url do
      %i{ :class => "fa #{Link::LINK_TYPE_FA_LOOKUP[link.link_type]} fa-2x", :title => link.link_type }

- unless @user.presentations.count < 1
  %h2 Talks and Presentations:
  - @user.presentations.each do |pres|
    .row
      .col-lg-6.col-md-4.col-sm-12
        %h3= pres.name
        %p
          Presented at
          = link_to pres.event.name, pres.event
          - unless pres.speakers.count < 2
            by
            = pres.speakers.map { |s| s.user.name }.join(", ")
          
        - unless pres.slideshare.blank?
          = link_to "http://www.slideshare.net/#{pres.slideshare}", :target => "_blank" do
            %span.fa.fa-external-link
            View slides new tab
        - unless pres.speakerdeck.blank?
          = link_to "http://www.speakerdeck.com/#{pres.speakerdeck}", :target => "_blank" do
            %span.fa.fa-external-link
            View slides new tab
      .col-lg-6.col-md-4.col-sm-12
        - unless pres.youtube.blank?
          %iframe{ width: "560", height: "315", src: "http://www.youtube-nocookie.com/embed/#{pres.youtube}", frameborder:"0", allowfullscreen: "allowfullscreen" }
          %p
            = link_to "http://www.youtube.com/watch?v=#{pres.youtube}", :target => "_blank" do
              %span.glyphicon.glyphicon-film
              Watch video in new tab

