- build_meta_tags title: @event.name, description: strip_tags(@event.description_html)

.row-fluid.event
  .span12
    .row-fluid
      .span6
        %h1= @event.name
        = render :partial => "display_time", :locals => { :event => @event }
        - unless @event.description.blank?
          = raw @event.description_html
        - unless @event.youtube_playlist.blank? 
          %p.playlist
            = link_to "http://www.youtube.com/playlist?list=#{@event.youtube_playlist}", :target => "_blank" do
              %i.icon-film
              Watch event video playlist
      - unless @event.venue.nil?
        .span6
          = gmaps("markers" => { "data" => @gmap_json }, "map_options" => {"processing" => "json", "auto_zoom" => false, "zoom" => 14})

    - unless @event.presentations.empty?
      %h2 Presentations:
    - @event.presentations.each do |pres|
      .row-fluid
        .span6
          %h3= pres.name
          %p
            - unless pres.speakers.empty?
              by
            = pres.speakers.map { |s| s.user.name }.join(", ")

          - unless pres.slideshare.blank?
            = link_to "http://www.slideshare.net/#{pres.slideshare}", :target => "_blank" do
              %i.icon-external-link
              View slides new tab
          - unless pres.speakerdeck.blank?
            = link_to "http://www.speakerdeck.com/#{pres.speakerdeck}", :target => "_blank" do
              %i.icon-external-link
              View slides new tab
        .span6
          - unless pres.youtube.blank?
            %iframe{ width: "560", height: "315", src: "http://www.youtube-nocookie.com/embed/#{pres.youtube}", frameborder:"0", allowfullscreen: "allowfullscreen" }
            %p
              = link_to "http://www.youtube.com/watch?v=#{pres.youtube}", :target => "_blank" do
                %i.icon-film
                Watch video in new tab


