- content_for :scripts do
  = render "gmaps"

- build_meta_tags title: @event.name, description: strip_tags(@event.description_html)

.row.event
  .col-sm-12
    .row
      .col-md-6.col-sm-12
        %h1= @event.name
        = render :partial => "display_time", :locals => { :event => @event }
        - unless @event.description.blank?
          = raw @event.description_html
        - unless @event.youtube_playlist.blank? 
          %p.playlist
            = link_to "http://www.youtube.com/playlist?list=#{@event.youtube_playlist}", :target => "_blank" do
              %span.glyphicon.glyphicon-film
              Watch event video playlist
      - unless @event.venue.nil?
        .col-md-6.col-sm-12
          .map_container
            #map.gmaps4rails_map &nbsp;

    - unless @event.presentations.empty?
      %h2 Presentations:
    - @event.presentations.each do |pres|
      = render partial: "shared/presentation", locals: { pres: pres }

