- build_meta_tags
.hero-unit
  %h1 Philippine Ruby Users Group
  %p 
    %em (aka PhRUG, PinoyRb, Ruby-Philippines)
  %p We're a bunch of professionals and hobbyists who share a passion in programming with Ruby.

.row.front-columns

  .span4
    %h2 Know the local scene
    %p 
      Want to know who uses Ruby in the Philippines? We've compiled lists of local 
      = link_to "projects", "#"
      written in Ruby, 
      = link_to "companies", "#"
      who build stuff in Ruby, as well as the 
      = link_to "people", "#"
      in the community.
    %p You can also keep in touch with the community via:
    %ul.community-links
      %li
        = link_to "irc://irc.freenode.net/phrug" do
          %i.icon-comment
          IRC
        (Freenode #phrug)
      %li
        = link_to "http://www.facebook.com/groups/phrug/" do
          %i.icon-facebook
          Facebook Group
      %li 
        = link_to "https://groups.google.com/forum/#!forum/ruby-phil" do
          %i.icon-envelope
          Google Group
      
  .span4
    %h2 Join our meetups
    %p We hold meetups every third Thursday of the month. 
    %p There we talk about all things related to Ruby and Rails, network over pizza, and afterwards we go out for a drink.
    %p 
      Our next meetup is on
      %strong= next_meetup(@next_meetup)
    %p= link_to "Find out more about our events", events_url, :class => "btn btn-large"
    
  .span4
    %h2 Learn Ruby and Rails
    %p Want to learn Ruby and Rails but don't know which among the many online resources out there are actually good? 
    %p= link_to "We've got you covered.", learn_url, :class => "btn btn-large"

