#header.row
  #brand.twocol
    = link_to 'PhRUG', '#'
  #nav.sixcol
    %ul
      %li= link_to 'Home', '#'
      %li= link_to 'Blog', '#'
      %li= link_to 'About', '#'
      %li= link_to 'Contact', '#'
  #user-control.fourcol.last
    %ul
      %li= link_to 'Sign in', '#'
      %li= link_to 'Sign up', '#'